<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>CompanyLogo</string>
		<string>GameLogo</string>
		<string>MainMenu</string>
		<string>MainGame</string>
		<string>GameStartScene</string>
		<string>GameScene</string>
		<string>GamePause</string>
		<string>TimeUpScene</string>
		<string>Pause</string>
		<string>Tutorial</string>
		<string>TutorialStart</string>
		<string>Credits</string>
		<string>Settings</string>
		<string>Store</string>
		<string>StoreHats</string>
		<string>StoreShirts</string>
		<string>StorePants</string>
		<string>StoreGlasses</string>
		<string>HelperClass</string>
	</array>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
